<div id="user-widget">
  <% if current_user %>
    Welcome <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <%#= current_user.email %>
    <%#=image_tag current_user.image %>
    <%#= current_user.location %>
    <%#= current_user.quote %>
  <% end %>
</div>
