- @title = "MonsterAPI | Home"
= link_to '<i class="fa fa-facebook fa-2x"></i> Sign in with Facebook'.html_safe, "/auth/facebook", class: "facebook button"
= link_to '<i class="fa fa-twitter fa-2x"></i> Sign in with Twitter'.html_safe, "/auth/twitter", class: "twitter button"
= link_to '<i class="fa fa-github fa-2x"></i> Sign in with Github'.html_safe, "#", class: "github button"
= link_to '<i class="fa fa-linkedin fa-2x"></i> Sign in with LinkedIn'.html_safe, "#", class: "linkedin button"
