$(document).ready(function() {
  $("body").prepend("<div id=\"fb-root\"></div>");
  return $.ajax({
    url: "" + window.location.protocol + "//connect.facebook.net/en_US/all.js",
    dataType: "script",
    cache: true
  });
});

window.fbAsyncInit = function() {
  FB.init({
    appId: <%= ENV['FACEBOOK_APP_ID'] %>,
    cookie: true,
    login: true,
    status: true
  });
  $(".facebook").click(function(e) {
    e.preventDefault();
    return FB.login((function(response) {
      if (response.authResponse) {
        return window.location = "/auth/facebook/callback";
      }
    }), {
      scope: "email,user_likes"
    });
  });
  return $("#sign_out").click(function(e) {
    FB.getLoginStatus(function(response) {
      if (response.authResponse) {
        return FB.logout();
      }
    });
    return true;
  });
};
