@import "reset";
@import "facebook";
@import "twitter";
@import "github";
@import "linkedin";
@import "google";
@import "buttons";
@import "fontawesome";
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

html, head{
  overflow-x: hidden;
}
body{
  font-family: 'Ubuntu';
  overflow-x: hidden;
  font-size: 22px;
}
h1{
  font-family: 'Myriad Pro', 'Helvetica' !important;
}
.buttons, .intro-text{
  display: inline-block;
  padding: 0 10px;
}
.intro-text{
  vertical-align: top;
  margin: 50px auto;
  text-align: right;
  max-width: 50%;
  margin-left: 5%;
  h1{
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 20px;
  }
  p{
    line-height: 1.3em;
  }
  hr{
    margin: 30px 0;
  }
}
header{
	background-color: #232323;
	padding: 5px 0px 5px 15px;
	color: white;
	font: 32px 'Ubuntu', Verdana;
	overflow: hidden;
  img{
    vertical-align: bottom;
  }
}
.main-content{
  padding: 10px 30px;
}
.embedded-link{
  border-bottom: 3px solid gray;
  &:hover{
    color: gray;
  }
}
footer{
	font-family: 'Ubuntu', Verdana;
  font-size: 15px;
	background-color: #232323;
	padding: 10px;
	height: 25px;
	position: relative;
  text-align: center;
	bottom: 0px;
	width: 100%;
	overflow: hidden;
	color: white;
}
.all{
  background-color: black;
  color: white;
}
