$github-theme: #EB5E4C;
.github{
  background-color: $github-theme;
}
#github{
  .basic_info{
    margin-top: 50px;
  }
  #right.content-text{
    margin-top: 0;
  }
  .image{
    margin-top: 0px;
    img{
      width: 250px;
      height: 250px;
      border-radius: 999px;
    }
  }
  a{
    border-bottom: 5px solid $github-theme;
    &:hover{
      color: $github-theme;
    }
  }
  h1{
    text-align: center;
    font-size: 35px;
  }
  p{
    line-height: 1.5em;
  }
  .content{
    margin-top: 20%;
  }
  .content-text p span{
    border-bottom: 3px solid #9A9A9A;
  }
  .repositories{
    height: auto !important;
  }
  .repository{
    min-height: 150px;
  }
}
#repo-description{
  text-indent: 20px;
}
