$twitter-theme: #40BFF5;
.twitter{
  background-color: $twitter-theme;
}
#twitter{
  overflow: hidden;
  margin: 30px;
}
.image{
  margin-right: 100px;
}
.image, .content-text{
  margin-top: 0px !important;
}
li.api-info{
  list-style: decimal outside none;
}
.content > div{
  border-bottom: 2px solid #CCCCCC;
  margin-bottom: 1.5em;
  padding-bottom: 1em;
}
#twitter h1{
  font-size: 35px;
  text-align: center;
}
.trends .api-info, .suggestions .api-info{
  border-bottom: 3px solid #9A9A9A;
}
#twitterdescription{
  color: gray;
  text-align: center;
  font-size: 23px;
  text-decoration: italic;
  margin-top: 20px;
}
.basic_info{
  margin-right: 0px !important;
  margin-top: 100px;
}
#twitter .image img{
  width: 250px;
  height: 250px;
  border-radius: 999px;
}
.content{
  margin-top: 150px;
  line-height: 1.5em;
}
.friend{
  display: inline-block;
  img{
    vertical-align: middle;
  }
}
#twitter p{
  display: inline-block;
}
.content-header{
  font-weight: bold;
}
.content-text{
  text-align: left !important;
  max-width: 60% !important;
}
#twitter-link{
  border-bottom: 5px solid $twitter-theme;
  &:hover{
    color: $twitter-theme;
  }
}
